<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Inicio_sesion</servlet-name>
        <servlet-class>Servlets.Inicio_sesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Obtener_lista_horas</servlet-name>
        <servlet-class>Servlets.Obtener_lista_horas</servlet-class>
        <init-param>
            <param-name>Name</param-name>
            <param-value>Value</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>Registrar_usuario</servlet-name>
        <servlet-class>Servlets.Registrar_usuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cargar_cb_medico</servlet-name>
        <servlet-class>Servlets.Cargar_cb_medico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Enviar_Especialidad_CentroMedico</servlet-name>
        <servlet-class>Servlets.Enviar_Especialidad_CentroMedico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buscar_agenda</servlet-name>
        <servlet-class>Servlets.buscar_agenda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listaReserva</servlet-name>
        <servlet-class>Servlets.listaReserva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarReserva</servlet-name>
        <servlet-class>Servlets.BorrarReserva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registrar_reserva</servlet-name>
        <servlet-class>Servlets.Registrar_reserva</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Inicio_sesion</servlet-name>
        <url-pattern>/Inicio_sesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Obtener_lista_horas</servlet-name>
        <url-pattern>/Obtener_lista_horas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registrar_usuario</servlet-name>
        <url-pattern>/regus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cargar_cb_medico</servlet-name>
        <url-pattern>/cbmed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Enviar_Especialidad_CentroMedico</servlet-name>
        <url-pattern>/formMedCen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buscar_agenda</servlet-name>
        <url-pattern>/buscar_agenda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listaReserva</servlet-name>
        <url-pattern>/listaReserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarReserva</servlet-name>
        <url-pattern>/BorrarReserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registrar_reserva</servlet-name>
        <url-pattern>/Registrar_reserva</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
